section.choose{
    width: 100%;
    height: auto;
    margin: 80px 0 ;
    padding: 50px 0 ;
    background: #fbfbfb;
}
section.choose i, section.choose div.part{
    float: left;
}
section.choose div.part p ,section.choose div.part h2{
    margin: 0;
}
section.choose i{    
    width: 20%;
    position: relative;
    top:20px;
    font-size: 40px;
    color: rgb(2, 44, 61);
}
section.choose div.part{
    width: 80%;
}
section.choose div.part h2{
    color: rgb(4, 110, 151);
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
section.choose div.part p{
    color: #888;
    margin-top: 5%;
    font-size: 18px;
}