.scroll {
    opacity: 0.5;
    background-color:rgb(4, 110, 151);
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 10px;
    border: none;
    color: white;
  }
  .scroll:hover {
      opacity: 1;
    }